<div ng-show="ur == 'SECRETARY'">

    <div class="py-4 mt-4 card col-md-10 mx-auto border-info">

        <form class="simple-form" name="appointForm">
            <div class="col-md-6 mx-auto mt-3">
                <ui-select ng-model="group.selected"
                           ng-change="selectedGroup()"
                           ng-disabled="!groupList.length"
                           name="group"
                           class="col-md-12 p-0"
                           theme="select2" title="Выберите группу"
                           required>
                    <ui-select-match placeholder="Выберите группу...">
                        {{$select.selected.number}}
                    </ui-select-match>
                    <ui-select-choices repeat="gr in groupList | propsFilter: {number: $select.search} | orderBy:'number'">
                        <div ng-bind-html="gr.number | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </form>

        <div class="ng-hide font-weight-bold text-center m-2 p-2 alert-warning" ng-show="!groups.length">
            Необходимо выбрать группу
        </div>

        <div class="ng-hide m-2 p-2" ng-show="groups.length">
            <table class="table table-hover table-striped table-sm table-responsive-lg">
                <thead>
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center">Номер группы</th>
                    <th class="text-center">Текущий семестр</th>
                    <th class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="group in groups">
                    <td class="text-center border-info"></td>
                    <td class="text-center border-info">{{group.number}}</td>
                    <td class="text-center border-info h5">
                        <div class="badge badge-secondary">{{group.curSemester}}</div>
                    </td>
                    <td class="text-center border-info">
                        <button class="btn btn-md btn-info text-white"
                                type="button"
                                ui-sref="appointId({id: group.id})"
                                title="Назначить преподавателей">
                            <i class="fa fa-share-square-o"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>