<div ng-show="ur == 'DEANERY'">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a ui-sref="viewAttestationsDeanery">Список аттестаций</a></li>
        <li class="breadcrumb-item active" aria-current="page">Добавление аттестации</li>
    </ol>

    <div class="my-3 col-lg-5 card bg-light mx-auto border-info">
        <form class="simple-form" name="arrangeCertificationForm">

            <div class="mx-5 mt-4 h5">
                <div class="col-md-12 p-0">
                    <label for="labelName">Название аттестации</label>
                    <input type="text"
                           class="form-control"
                           ng-class="{'is-invalid': arrangeCertificationForm.name.$dirty && arrangeCertificationForm.name.$invalid,
                                      'is-valid': arrangeCertificationForm.name.$dirty}"
                           ng-model="name"
                           name="name"
                           id="labelName"
                           placeholder="введите название аттестации"
                           required>
                    <div class="invalid-tooltip py-0"> <!--invalid-feedback-->
                        Необходимо заполнить поле "Название аттестации"
                    </div>
                </div>
                <!--<i class="fa fa-info-circle text-info" title="Нажмите для вывода справки" ng-click="toasterInfo('Справка!',-->
                <!--'Крайний срок внесения изменений (преподаватель сможет вносить изменения до 01.00 мск)')"></i>-->
                <div class="col-md-12 p-0">
                    <label for="labelDeadline" class="mt-4">Крайний срок</label>
                    <i class="fa fa-info-circle text-info" data-toggle="tooltip" data-placement="top"
                       title="До этой даты (не включая) преподаватели смогут вносить изменения в ведомости">
                    </i>
                    <input type="date"
                           class="form-control"
                           ng-class="{'is-invalid': arrangeCertificationForm.deadline.$dirty && arrangeCertificationForm.deadline.$invalid,
                                      'is-valid': arrangeCertificationForm.deadline.$dirty}"
                           ng-model="deadline"
                           min="{{minDate | date:'yyyy-MM-dd'}}"
                           max="{{minDate | date:'2055-MM-dd'}}"
                           name="deadline"
                           id="labelDeadline"
                           required>
                    <div class="invalid-tooltip py-0">
                        Необходимо выбрать дату (мин. зн.: {{minDate | date:'dd-MM-yyyy'}})
                    </div>
                </div>

                <hr>
                <div class="text-right mb-3">
                    <button class="btn btn-md btn-info text-white"
                            type="button"
                            title="Добавить аттестацию"
                            ng-click="createCertification()">
                        <i class="fa fa-plus"></i>
                        Добавить
                    </button>
                </div>

            </div>

        </form>
    </div>

</div>
            <!--<div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationServer013">First name</label>
                    <input type="text" class="form-control is-valid" id="validationServer013" placeholder="First name"
                           value="Mark" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationServer023">Last name</label>
                    <input type="text" class="form-control is-valid" id="validationServer023" placeholder="Last name"
                           value="Otto" required>
                    <div class="">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationServerUsername33">Username</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend33">@</span>
                        </div>
                        <input type="text" class="form-control is-invalid" id="validationServerUsername33" placeholder="Username"
                               aria-describedby="inputGroupPrepend33" required>
                        <div class="invalid-feedback">
                            Please choose a username.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationServer033">City</label>
                    <input type="text" class="form-control is-invalid" id="validationServer033" placeholder="City"
                           required>
                    <div class="invalid-feedback">
                        Please provide a valid city.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationServer043">State</label>
                    <input type="text" class="form-control is-invalid" id="validationServer043" placeholder="State"
                           required>
                    <div class="invalid-feedback">
                        Please provide a valid state.
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationServer053">Zip</label>
                    <input type="text" class="form-control is-invalid" id="validationServer053" placeholder="Zip"
                           required>
                    <div class="invalid-feedback">
                        Please provide a valid zip.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input is-invalid" id="invalidCheck33" required>
                    <label class="custom-control-label" for="invalidCheck33">Agree to terms and conditions</label>
                    <div class="invalid-feedback">
                        You must agree before submitting.
                    </div>
                </div>
                <div class="invalid-feedback">
                    You must agree before submitting.
                </div>
            </div>-->