<div ng-show="ur == 'TEACHER'">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a ui-sref="session">Список групп</a></li>
        <li class="breadcrumb-item active" aria-current="page">Редактирование сессионной ведомости</li>
    </ol>

    <div class="my-3 pt-5 card col-md-10 mx-auto">

        <div class="font-weight-bold h3 text-center" ng-show="attestation || disciplineName">
            <pre ng-show="disciplineName">Дисциплина: <div class="badge bg-aqua-gradient">{{disciplineName}}</div></pre>
            <pre ng-show="splitAttestationFormName">Форма аттестации:<div class="badge bg-aqua-gradient">{{splitAttestationFormName}}</div></pre>
            <pre ng-show="deadlineDiscipline">Крайний срок внесения изменений в ведомость: <div class="badge bg-aqua-gradient">{{deadlineDiscipline | date: 'dd.MM.yyyy'}}</div></pre>
            <hr>
        </div>

        <div class="font-weight-bold h4 text-center">
            Список студентов
            <span ng-show="groupNumber">
                группы <div class="badge bg-aqua-gradient">"{{groupNumber}}"</div>
            </span>
        </div>

        <div ng-if="contentSession.length">
            <div class="text-right mb-4">
                <button class="btn btn-md btn-info text-white"
                        ng-class="{'btn-warning': changes, 'btn-info': !changes}"
                        type="button"
                        title="Сохранить изменения"
                        ng-click="saveContentSession()">
                    <i class="fa fa-floppy-o"></i>
                    Сохранить
                </button>
            </div>
            <table class="table table-hover table-sm my-3" ng-class="{'table-responsive-xl': isHead, 'table-responsive-lg': !isHead}">
                <thead>
                    <tr>
                        <th class="text-center">Фамилия</th>
                        <th class="text-center">Имя</th>
                        <th class="text-center">Отчество</th>
                        <th class="text-center">Номер зачётной книжки</th>
                        <th class="text-center" style="min-width: 10em">Работает</th>
                        <th class="text-center" style="min-width: 10em">Аттестован</th>
                        <th class="text-center ng-hide" ng-show="isHead">Назначенный преподаватель</th>
                    </tr>
                </thead>
                <tbody class="bg-aqua-gradient">
                    <tr ng-repeat="cs in contentSession | orderBy:'student.surname' track by $index">
                        <td class="text-center">{{cs.student.surname}}</td>
                        <td class="text-center">{{cs.student.name}}</td>
                        <td class="text-center">{{cs.student.patronymic}}</td>
                        <td class="text-center">{{cs.student.numberRecordBook}}</td>
                        <td class="text-center px-3">
                            <i class="fa fa-info-circle text-info col-md-1" id="tooltipWorks[$index]" ng-show="cs.dateWorks" data-toggle="tooltip" data-placement="top"
                               title="Последние изменения внесены {{cs.dateWorks | date: 'dd.MM.yyyy в HH:mm'}} ({{cs.setWorksByTeacher.surname + ' ' + cs.setWorksByTeacher.initials}})">
                            </i>
                            <i class="fa fa-info-circle text-warning col-md-1" ng-show="!cs.dateWorks"></i>
                            <select class="custom-select form-control col-md-8"
                                    ng-click="checkChanges()"
                                    name="cs.works"
                                    ng-model="cs.works"
                                    ng-options="item.key as item.value for item in selected">

                            </select>
                        </td>
                        <td class="text-center px-3">
                            <i class="fa fa-info-circle text-info col-md-1" id="tooltipAttest[$index]" ng-show="cs.dateAttest" data-toggle="tooltip" data-placement="top"
                               title="Последние изменения внесены {{cs.dateAttest | date: 'dd.MM.yyyy в HH:mm'}} ({{cs.setAttestByTeacher.surname + ' ' + cs.setAttestByTeacher.initials}})">
                            </i>
                            <i class="fa fa-info-circle text-warning col-md-1" ng-show="!cs.dateAttest"></i>
                            <select class="custom-select form-control col-md-8"
                                    ng-click="checkChanges()"
                                    name="cs.attest"
                                    ng-model="cs.attest"
                                    ng-options="item.key as item.value for item in selected">
                            </select>
                        </td>
                        <td class="text-center pt-2 ng-hide" ng-show="isHead">
                            {{cs.teacher ? cs.teacher.surname + ' ' + cs.teacher.name + ' ' + cs.teacher.patronymic : '-'}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <div class="text-right my-4">
                <button class="btn btn-md text-white"
                        ng-class="{'btn-warning': changes, 'btn-info': !changes}"
                        type="button"
                        title="Сохранить изменения"
                        ng-click="saveContentSession()">
                    <i class="fa fa-floppy-o"></i>
                    Сохранить
                </button>
            </div>
        </div>

        <div class="ng-hide font-weight-bold text-center m-2 p-2 alert-warning" ng-show="!contentSession.length">
            Список студентов пуст
        </div>
    </div>

</div>