<div ng-show="ur == 'TEACHER'">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a ui-sref="attestation">Список действующих аттестаций</a></li>
        <li class="breadcrumb-item"><a ui-sref="subject({id: attestationId})">Список предметов</a></li>
        <li class="breadcrumb-item active" aria-current="page">Редактирование ведомости</li>
    </ol>

    <div class="my-3 card col-md-10 mx-auto">
        <div class="font-weight-bold h4 text-center mt-4">
            Список студентов
        </div>

        <div ng-if="contentAttestation.length">
            <table class="table table-hover my-3 table-responsive-lg">
                <thead>
                    <tr>
                        <th class="text-center py-3">Фамилия</th>
                        <th class="text-center">Имя</th>
                        <th class="text-center">Отчество</th>
                        <th class="text-center">Номер зачётной книжки</th>
                        <th class="text-center">Работает</th>
                        <th class="text-center">Аттестован</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ca in contentAttestation | orderBy:'student.surname' track by $index">
                        <td class="text-center py-3">{{ca.student.surname}}</td>
                        <td class="text-center">{{ca.student.name}}</td>
                        <td class="text-center">{{ca.student.patronymic}}</td>
                        <td class="text-center">{{ca.student.numberRecordBook}}</td>
                        <td class="text-center">
                            <input type="checkbox" ng-model="ca.works">
                        </td>
                        <td class="text-center">
                            <input type="checkbox" ng-model="ca.attest">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right mb-4">
                <hr>
                <button class="btn btn-info text-white"
                   type="button"
                   ng-click="replyAll()">
                   <i class=" fa fa-reply-all"></i>
                    Откатить изменения
                </button>
                <button class="btn btn-info text-white"
                   type="button"
                   ng-click="saveContentAttestation()">
                   <i class="fa fa-floppy-o"></i>
                    Сохранить
                </button>
            </div>
        </div>

        <div class="ng-hide font-weight-bold text-center m-2 p-2 alert-warning" ng-show="!contentAttestation.length">
            Список студентов пуст
        </div>
    </div>

</div>