<div ng-show="ur == 'TEACHER'">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a ui-sref="attestation">Список действующих аттестаций</a></li>
        <li class="breadcrumb-item"><a ui-sref="subject({id: attestationId})">Список ведомостей</a></li>
        <li class="breadcrumb-item active" aria-current="page">Редактирование аттестационной ведомости</li>
    </ol>

    <div class="my-3 pt-5 card col-md-10 mx-auto border-info">

        <div class="font-weight-bold h3 text-center" ng-show="attestation || disciplineName">
            <pre ng-show="attestation">Аттестация:<div class="badge bg-aqua-gradient">"{{attestation.name}}" (до {{attestation.deadline | date: 'dd.MM.yyyy'}})</div></pre>
            <pre ng-show="disciplineName">Дисциплина:<div class="badge bg-aqua-gradient">{{disciplineName}}</div></pre>
            <hr>
        </div>

        <div class="font-weight-bold h4 text-center">
            Список студентов
            <span ng-show="groupNumber">
                группы <div class="badge bg-aqua-gradient">"{{groupNumber}}"</div>
            </span>
        </div>

        <!--<div class="mt-4 row mx-2">
            <div class="font-weight-bold h4 text-center col-md-9">
                Список студентов
            </div>

            <div class="btn-group btn-group-justified mx-auto">
                <button class="btn btn-warning text-white"
                        type="button"
                        title="Отменить изменения"
                        ng-click="replyAll()">
                    <i class=" fa fa-reply-all"></i>
                    Отменить
                </button>
                <button class="btn btn-info text-white"
                        type="button"
                        title="Сохранить изменения"
                        ng-click="saveContentAttestation()">
                    <i class="fa fa-floppy-o"></i>
                    Сохранить
                </button>
            </div>
        </div>-->

        <div ng-if="contentAttestation.length">
            <div class="text-right mb-4">
                <button class="btn btn-md btn-light text-dark border-secondary"
                        type="button"
                        title="Вернуться к списку ведомостей"
                        ng-click="toListOfStatements()">
                    <i class="fa fa-arrow-left"></i>
                    К списку ведомостей
                </button>
                <button class="btn btn-md btn-info text-white"
                        ng-class="{'btn-warning': changes, 'btn-info': !changes}"
                        type="button"
                        title="Сохранить изменения"
                        ng-click="saveContentAttestation()">
                    <i class="fa fa-floppy-o"></i>
                    Сохранить
                </button>
            </div>
            <table class="table table-hover table-sm my-3" ng-class="{'table-responsive-xl': isHead, 'table-responsive-lg': !isHead}">
                <thead>
                    <tr>
                        <th class="text-center">№</th>
                        <th class="">Фамилия</th>
                        <th class="">Имя</th>
                        <th class="">Отчество</th>
                        <th class="text-center">Номер зачётной книжки</th>
                        <th class="text-center" style="min-width: 10em">Работает
                            <i class="fa fa-info-circle text-info" data-toggle="tooltip" data-placement="top"
                               title="Приступил к работе в дистанционном формате.">
                            </i>
                            <!-- Приступил к дистанционному обучению. Если дисциплина ведётся в дистанционном формате -->
                        </th>
                        <th class="text-center" style="min-width: 10em">Аттестован</th>
                        <th class="text-center ng-hide" ng-show="isHead">Назначенный преподаватель</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
<!--                        <th class="text-center">Установить значение всем студентам</th>-->
                        <th class="text-center px-3">
                            <i class="fa fa-info-circle text-muted col-md-1" data-toggle="tooltip" data-placement="top"
                               title="Установка значения поля 'Работает' всем студентам.">
                            </i>
                            <select class="custom-select form-control col-md-8"
                                    ng-change="changeGlobalWorks()"
                                    name="global.works"
                                    ng-model="global.works"
                                    ng-options="item.key as item.value for item in selected">
                            </select>
                        </th>
                        <th class="text-center px-3">
                            <i class="fa fa-info-circle text-muted col-md-1" data-toggle="tooltip" data-placement="top"
                               title="Установка значения поля 'Аттестован' всем студентам.">
                            </i>
                            <select class="custom-select form-control col-md-8"
                                    ng-change="changeGlobalAttest()"
                                    name="global.attest"
                                    ng-model="global.attest"
                                    ng-options="item.key as item.value for item in selected">
                            </select>
                        </th>
                        <th class="text-center ng-hide" ng-show="isHead"></th>
                    </tr>
                </thead>
                <tbody class="bg-aqua-gradient">
                    <tr ng-repeat="ca in contentAttestation | orderBy:'student.surname' track by $index">
                        <td class="text-center">{{$index+1}}</td>
                        <td class="">{{ca.student.surname}}</td>
                        <td class="">{{ca.student.name}}</td>
                        <td class="">{{ca.student.patronymic}}</td>
                        <td class="text-center">{{ca.student.numberRecordBook}}</td>
                        <td class="text-center px-3">
<!--                            <div class="row">-->
                            <!--data-toggle="tooltip" data-placement="top"
                                    title="{{ ca.dateWorks ? 'Последние изменения внесены': '' }} {{ca.dateWorks | date: 'dd.MM.yyyy в hh:mm'}}
                                    {{ ca.setWorksByTeacher ? '(' + ca.setWorksByTeacher.surname + ' ' + ca.setWorksByTeacher.initials + ')' : 'Внесите и сохраните изменения'}} "
                                    -->
                            <!-- ng-class="{'col-md-8': ca.dateWorks, 'col-md-10 ml-md-3': !ca.dateWorks}" -->
                            <!-- ng-class="{'col-md-8': ca.dateAttest, 'col-md-10 ml-md-3': !ca.dateAttest}" -->
                            <i class="fa fa-user-circle-o text-info col-md-1" id="tooltipWorks[$index]" ng-show="ca.dateWorks" data-toggle="tooltip" data-placement="top"
                               title="Последние изменения внесены {{ca.dateWorks | date: 'dd.MM.yyyy в HH:mm'}} ({{ca.setWorksByTeacher.surname + ' ' + ca.setWorksByTeacher.initials}})">
                            </i>
                            <i class="fa fa-user-circle-o text-warning col-md-1" ng-show="!ca.dateWorks"></i>
                            <select class="custom-select form-control col-md-8"
                                    ng-change="selectedWorks()"
                                    name="ca.works"
                                    ng-model="ca.works"
                                    ng-options="item.key as item.value for item in selected">

                            </select>
<!--                            </div>-->
                        </td>
                        <td class="text-center px-3">
                            <i class="fa fa-user-circle-o text-info col-md-1" id="tooltipAttest[$index]" ng-show="ca.dateAttest" data-toggle="tooltip" data-placement="top"
                               title="Последние изменения внесены {{ca.dateAttest | date: 'dd.MM.yyyy в HH:mm'}} ({{ca.setAttestByTeacher.surname + ' ' + ca.setAttestByTeacher.initials}})">
                            </i>
                            <i class="fa fa-user-circle-o text-warning col-md-1" ng-show="!ca.dateAttest"></i>
                            <select class="custom-select form-control col-md-8"
                                    ng-change="selectedAttest()"
                                    name="ca.attest"
                                    ng-model="ca.attest"
                                    ng-options="item.key as item.value for item in selected">
                            </select>
                            <!--<input type="checkbox" ng-model="ca.attest">-->
                        </td>
                        <td class="text-center pt-2 ng-hide" ng-show="isHead">
                            {{ca.teacher ? ca.teacher.surname + ' ' + ca.teacher.name + ' ' + ca.teacher.patronymic : '-'}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <div class="text-right my-4">
                <button class="btn btn-md btn-light text-dark border-secondary"
                        type="button"
                        title="Вернуться к списку ведомостей"
                        ng-click="toListOfStatements()">
                    <i class="fa fa-arrow-left"></i>
                    К списку ведомостей
                </button>
                <!--<button class="btn btn-warning text-white"
                        type="button"
                        title="Отменить изменения"
                        ng-click="replyAll()">
                    <i class=" fa fa-reply-all"></i>
                    Отменить
                </button>-->
                <button class="btn btn-md text-white"
                        ng-class="{'btn-warning': changes, 'btn-info': !changes}"
                        type="button"
                        title="Сохранить изменения"
                        ng-click="saveContentAttestation()">
                    <i class="fa fa-floppy-o"></i>
                    Сохранить
                </button>
            </div>
        </div>

        <div class="ng-hide font-weight-bold text-center m-2 p-2 alert-warning" ng-show="!contentAttestation.length">
            Список студентов пуст
        </div>
    </div>

</div>