<div ng-show="ur == 'DEANERY'">

    <div class="my-3 card col-md-10 mx-auto border-info">
        <form class="simple-form" name="groupsForm">

            <div class="font-weight-bold h4 text-center mt-4">Список групп</div>
            <hr>
            <div class="ng-hide font-weight-bold text-center m-3 p-2 alert-warning" ng-show="!groups.length">
                Группы отсутствуют
            </div>

            <table class="table table-hover table-responsive-xl table-light bg-aqua-gradient" ng-show="groups.length">
                <thead>
                <tr class="bg-white">
                    <th class="text-center border-white"></th>
                    <th class="text-center border-white">Номер группы</th>
                    <th class="text-center border-white">Актуальность
                        <i class="fa fa-info-circle text-info" data-toggle="tooltip" data-placement="top"
                           title="Группы, которые ещё не выпустились">
                        </i>
                    </th>
                    <th class="text-center border-white"></th>
                    <th class="text-center border-white" style="min-width: 10em">Текущий семестр
                        <i class="fa fa-info-circle text-info" data-toggle="tooltip" data-placement="top"
                           title="При возникновении ошибок в высчитывании (предполагаемого) текущего семестра просьба обратиться к администратору">
                        </i>
                    </th>
                    <th class="text-center border-white" style="min-width: 10em">Конец семестра</th>
                    <th class="text-center border-white"></th>
                </tr>
                </thead>
                <tbody>
                <!-- ng-class="{'bg-white bg-aqua-gradient': group.active, 'bg-light': !group.active}"-->
                <tr ng-repeat="group in groups" ng-class="{'bg-light': !group.active}">
                    <!-- Сохранить -->
                    <td class="text-center border-info">
                        <button class="btn btn-md text-white"
                                ng-class="{'btn-warning': changes[$index],
                                          'btn-info': !changes[$index]}"
                                type="button"
                                data-ng-click="saveGroup($index)"
                                title="Сохранить изменения">
                            <i class="fa fa-save"></i>
    <!--                        Сохранить изменения-->
                        </button>
                    </td>
                    <td class="text-center border-info">{{group.number}}</td>
                    <td class="text-center border-info">
                        <input type="checkbox"
                               class=""
                               ng-change="changeActive($index)"
                               name="group.active"
                               ng-model="group.active">
                    </td>
                    <td class="text-center border-info">
                        <i class="text-warning fa fa-2x fa-exclamation px-2"
                           ng-if="group.active && estimatedCurSemesterNumber[$index] != group.curSemester"
                           data-toggle="tooltip" data-placement="top"
                           title="Внимание! Установленный семестр не совпадает с (предполагаемым) текущим семестром">
                        </i>
                    </td>
                    <td class="text-center border-info">
                        <select class="custom-select form-control col-sm-6"
                                ng-model="group.curSemester"
                                ng-disabled="!semesterNumberSet[$index]"
                                ng-show="group.active"
                                ng-change="selectedCurSemester($index)"
                                name="curSemester"
                                ng-options="item for item in semesterNumberSet[$index]">
                        </select>
                    </td>
                    <td class="text-center border-info">
                        <!--<input type="date"
                               ng-bind="date | date:'MM/dd/yyyy'"
                               class="form-control"
                               ng-model="group.deadline"
                               required>
                        <div class="invalid-tooltip py-0">
                            Необходимо выбрать дату (мин. значение: {{minDate | date:'dd-MM-yyyy'}})
                        </div>-->
                        <input type="date"
                               ng-disabled="!group.curSemester"
                               ng-show="group.active"
                               class="form-control"
                               ng-class="{'is-invalid': groupsForm.deadline[$index].$dirty && groupsForm.deadline[$index].$invalid,
                                          'is-valid': groupsForm.deadline[$index].$dirty}"
                               ng-model="group.deadline"
                               ng-change="selectedDeadline($index)"
                               min="{{minDate | date:'yyyy-MM-dd'}}"
                               max="{{minDate | date:'2055-MM-dd'}}"
                               name="deadline[$index]"
                               required>
                        <div class="invalid-tooltip py-0">
                            Необходимо выбрать дату (мин. значение: {{minDate | date:'dd-MM-yyyy'}})
                        </div>
                    </td>
                    <td class="text-center border-info">
                        <a class="btn btn-md btn-light text-info border-info"
                           type="button" ng-show="group.active"
                           ui-sref="students({groupId: group.id})"
                           title="Перейти к списку студентов группы">
                            <i class="fa fa-share-square"></i>
                            К списку студентов
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>

        </form>
    </div>

</div>