<div>
    <div class="my-5 card bg-light col-md-5 mx-auto">
        <div class="font-weight-bold h4 text-center mt-4">
            Справочные сведения
        </div>
        <hr class="mt-2">


        <div class="text-center ng-hide" ng-show="ur == 'DEANERY'">
            Чтобы создать аттестацию,<br>
            перейдите в раздел
            <a class="bold text-info" ui-sref="arrangeCertification">
                <b>"Устроить аттестацию"</b>,
            </a>
            <br>
            выберите <b title="Дедлайн">крайнюю дату</b> внесения изменений <br>
            (преподаватель сможет вносить изменения<br>
            до 03.00 по мск выбранного дня)<br>
            и введите <b>название аттестации</b>.<br>
            <i>
                В названии рекомендуется уточнить,<br>
                в какое время года проводится аттестация<br>
                (например, "осенняя аттестация").
            </i>
            <br>
        </div>

        <div class="text-center ng-hide" ng-show="ur == 'DEANERY'">
            <br>
            Для просмотра текущей ситуации,<br>
            связанной с проведением аттестаций,<br>
            перейдите в раздел
            <a class="bold text-info" ui-sref="statements">
                <b>"Ведомости"</b>
            </a>
            <br>
        </div>

        <div class="text-center ng-hide" ng-show="ur == 'DEANERY'">
            <br>
            Для обозначения<br>
            отчисленных студентов необходимо<br>
            перейти в раздел
            <a class="bold text-info" ui-sref="students">
                <b>"Студенты"</b>
            </a>
             и выбрать группу,<br>
            далее в выведенном списке обозначить<br>
            надлежащих студентов как отчисленных,<br>
            поставив галочку напротив них.<br>
            Для сохранения внесённых изменений необходимо<br>
            нажать на кнопку <b>"Сохранить изменения"</b>.
            <br>
        </div>

        <div class="text-center ng-hide" ng-show="ur == 'TEACHER'">
            Для заполнения ведомостей текущей аттестации,<br>
            необходимо перейти в раздел
            <a class="bold text-info" ui-sref="attestation">
                <b>"Заполнение ведомостей"</b>.
            </a>
            <br>
            Далее необходимо перейти<br>
            на страницу ведомости выбранной (под)группы,<br>
            и после внесения изменений<br>
            нажать на кнопку <b>"Сохранить"</b>.
            <br>
        </div>

        <div class="text-center ng-hide" ng-show="ur == 'SECRETARY'">
            Для создания подгруппы<br>
            необходимо перейти в раздел
            <a class="bold text-info" ui-sref="addSubgroup">
                <b>"Добавить подгруппу"</b>,
            </a>
            <br>
            выбрать группу и нажать на кнопку <b>"Добавить"</b>.<br>
            Студенты данной группы будут добавлены в <i>"Общий список"</i>.<br>
            Для формирования <i>"Списка новой подгруппы"</i><br>
            необходимо выбрать студентов<br>
            и нажать на кнопку <b>"Отправить"</b>.<br>
            Далее, если <i>"Список новой подгруппы"</i><br>
            содержит всех необходимых студентов,<br>
            требуется ввести <b>название</b> новой подгруппы<br>
            и нажать на кнопку <b>"Создать"</b>.
            <br>
        </div>

        <div class="text-center ng-hide" ng-show="ur == 'SECRETARY'">
            <br>
            Чтобы "связать" группу или<br>
            подгруппу с преподавателем,<br>
            необходимо перейти в раздел<br>
            <a class="bold text-info" ui-sref="link">
                <b>"Связать (под)группу и преподавателя"</b>.
            </a>
            <br>
            На данной странице есть возможность<br>
            просмотреть содержимое (под)группы,<br>
            а также выбрать преподавателя<br>
            по каждой дисциплине.
            <br>
        </div>

        <hr>
        <div class="text-center mb-3">
            Вопросы и пожелания<br>
            принимаются по почте<br>
            <b>saitVoenmeh@voenmeh.ru</b>
        </div>
        <br>

        <!--<div class="text-right py-3">
            <a class="btn text-info" href="/home">
                В главное меню
            </a>
        </div>-->
    </div>
</div>