<div ng-show="ur == 'SECRETARY'">

    <!--<button class="btn btn-default btn-xs" ng-click="enable()">Enable ui-select</button>
    <button class="btn btn-default btn-xs" ng-click="disable()">Disable ui-select</button>
    <button class="btn btn-default btn-xs" ng-click="clear()">Clear ng-model</button>
    <h3>Select2 theme</h3>
    <ui-select ng-model="person.selected" theme="select2" ng-disabled="disabled" style="min-width: 300px;">
        <ui-select-match placeholder="Select a person in the list or search his name/age...">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
            <div ng-bind-html="person.name | highlight: $select.search"></div>
            <small>
                email: {{person.email}}
                age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
            </small>
        </ui-select-choices>
    </ui-select>-->

    <!--<button type="button" class="btn btn-primary" data-click="getDepartments()" data-toggle="modal"
            data-target="#exampleModal" data-content="@mdo">Open modal for @mdo</button>
    <button href="http://www.google.com" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-content="@fat">Open modal for @fat</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-content="@getbootstrap">Open modal for @getbootstrap</button>-->

    <!--<div class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">tooltip</div>-->


    <div class="my-3 card col-md-10 bg-light mx-auto">
        <form class="simple-form" name="studentsForm">
            <div class="my-3 ml-5">
                <div class="col-md-8 mx-auto text-right my-2">
                    <div class="custom-control custom-checkbox my-3">
                        <input type="checkbox"
                               class="custom-control-input"
                               ng-model="isSubgroup"
                               name="isSubgroup"
                               ng-change="checkIsSubgroup()"
                               id="customControlValidation">
                        <label class="custom-control-label" for="customControlValidation">Связать подгруппу</label>
                    </div>
                </div>

                <div ng-show="isSubgroup">
                    <div class="col-md-8 mx-auto mt-3">
                        <label for="labelSubgroupName">Название подгруппы</label>
                        <div class="input-group">
                            <input class="form-control" type="search"
                                   placeholder="введите название подгруппы"
                                   name="partNameSubgroup"
                                   ng-model="partNameSubgroup"
                                   ng-change="checkPartNameSubgroup()"
                                   id="labelSubgroupName" aria-label="Search">
                            <button class="btn btn-info text-white"
                                    title="Найти подгруппу по названию"
                                    ng-disabled="subgroups.length"
                                    type="button"
                                    ng-click="findByNameSubgroup()">
                                <i class="fa fa-search"></i>
                                Найти
                            </button>
                        </div>
                    </div>
                    <div class="col-md-8 mx-auto mt-3">
                        <label for="labelSubgroup">Подгруппа</label>
                        <select class="custom-select form-control"
                                ng-change="checkSubgroupId()"
                                ng-disabled="!subgroups.length"
                                name="subgroupId"
                                ng-model="subgroupId"
                                ng-options="item.id as item.name for item in subgroups"
                                id="labelSubgroup"
                                required>
                        </select>
                    </div>
                </div>

                <div ng-show="!isSubgroup">
                    <div class="col-md-8 mx-auto">
                        <label for="labelFaculty">Факультет</label>
                        <select class="custom-select form-control"
                                name="faculty"
                                ng-change="getDepartments()"
                                ng-model="faculty"
                                ng-options="item.id as item.shortName+'. '+item.fullName for item in faculties"
                                id="labelFaculty"
                                required>
                        </select>
                    </div>
                    <div class="col-md-8 mx-auto mt-3">
                        <label for="labelDepartment">Кафедра</label>
                        <select class="js-example-basic-single custom-select form-control"
                                ng-disabled="!studentsForm.faculty.$modelValue"
                                name="department"
                                ng-change="getGroups()"
                                ng-model="department"
                                ng-options="item.id as item.shortName+'. '+item.fullName for item in departments"
                                id="labelDepartment"
                                required>
                        </select>
                    </div>
                    <div class="col-md-8 mx-auto mt-3">
                        <label for="labelGroup">Группа</label>
                        <select class="custom-select form-control"
                                ng-change="checkGroup()"
                                ng-disabled="!studentsForm.department.$modelValue"
                                name="group"
                                ng-model="group"
                                ng-options="item.id as item.number for item in groups"
                                id="labelGroup"
                                required>
                        </select>
                    </div>
                </div>

                <div class="col-md-8 mx-auto mt-4 text-right">
                    <button class="btn btn-info px-3 text-white"
                            title="Настройка дисциплин {{isSubgroup? 'подгруппы': 'группы'}}"
                            ng-click="watchStudents()">
                        <i class="fa fa-list-alt pr-1"></i>
                        Настроить
                    </button>
                </div>

            </div>
        </form>
    </div>

    <div class="my-3 card col-md-10 mx-auto">
        <div class="font-weight-bold text-center m-2 p-2 alert-warning" ng-if="!studentsForm.group.$modelValue && !isSubgroup">
            Выберите группу
        </div>

        <div class="font-weight-bold text-center m-2 p-2 alert-warning" ng-if="!studentsForm.subgroupId.$modelValue && isSubgroup">
            Выберите подгруппу
        </div>

        <div class="font-weight-bold text-center m-2 p-2 alert-warning"
             ng-if="(studentsForm.group.$modelValue && !isSubgroup || studentsForm.subgroupId.$modelValue && isSubgroup) && !students.length">
            Для отображения списка студентов и дальнейшей настройки нажмите на кнопку "Настроить"
        </div>

        <div class="font-weight-bold h4 text-center mt-4" ng-if="studentsForm.group.$modelValue && students.length && !isSubgroup">
            Список студентов группы
            <!-- в списке группы отсутствуют отчисленные студенты на момент просмотра страницы -->
        </div>

        <div class="font-weight-bold h4 text-center mt-4" ng-if="studentsForm.subgroupId.$modelValue && students.length && isSubgroup">
            Список студентов подгруппы
            <!-- в списке подгруппы отсутствуют отчисленные студенты на момент просмотра страницы -->
        </div>

        <table class="table table-striped table-hover my-3 table-responsive-lg" ng-if="students.length">
            <thead>
            <tr>
                <th class="text-center">Фамилия</th>
                <th class="text-center">Имя</th>
                <th class="text-center">Отчество</th>
                <th class="text-center">Номер зачётной книжки</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="st in students | orderBy:'surname' track by $index">
                <td class="text-center w-25">{{st.surname}}</td>
                <td class="text-center w-25">{{st.name}}</td>
                <td class="text-center w-25">{{st.patronymic}}</td>
                <td class="text-center w-25">{{st.numberRecordBook}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="my-3 card col-md-10 mx-auto" ng-if="students.length">
        <div class="font-weight-bold h4 text-center mt-4">
            Список предметов
        </div>

        <div class="row col-md-8 mx-auto mt-2">
            <label class="col-md-2 p-0 text-center my-auto" for="labelAttestationForTableId">Аттестация</label>
            <select class="col-md-9 custom-select form-control"
                    ng-change="getSubjectsWithTeachersByDep(isSubgroup? subgroupId : group)"
                    ng-model="attestationForTable.id"
                    ng-options="item.id as item.name + ' (до ' + (item.deadline | date:'dd.MM.yyyy') + ')'
                                                            for item in attestationsForTable"
                    id="labelAttestationForTableId"
                    required>
            </select>
        </div>

        <div class="ng-hide font-weight-bold text-center mt-4 p-2 alert-warning" ng-show="!subjectsAndTeachers.length">
            Список предметов пуст
        </div>
        <table class="table table-striped table-hover table-sm my-3 table-responsive-lg" ng-if="subjectsAndTeachers.length">
            <thead>
            <tr>
                <th class="text-center">Кафедра</th>
                <th class="text-center">Дисциплина</th>
                <th class="text-center">Номер семестра</th>
                <th class="text-center">Форма работы</th>
                <th class="text-center">Преподаватель</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sAt in subjectsAndTeachers | orderBy:'teacher.surname' track by $index">
                <td class="text-center w-5" title="{{sAt.syllabusContent.discipline.department.fullName}}">
                    {{sAt.syllabusContent.discipline.department.shortName}}
                </td>
                <td class="text-center w-30">{{sAt.syllabusContent.discipline.name}}</td>
                <td class="text-center w-5">{{sAt.syllabusContent.semesterNumber}}</td>
                <td class="text-center w-5">{{sAt.form_of_work.name}}</td>
                <td class="text-center w-30">{{sAt.teacher.surname+' '+sAt.teacher.name+' '+sAt.teacher.patronymic}}</td>
                <td>
                    <button class="btn btn-sm btn-danger text-white"
                            type="button"
                            ng-click="checkBeforeDeleteDiscipline(sAt)"
                            title="Удалить предмет">
                        <i class="fa fa-times"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="text-right mb-3">
            <hr>
            <button class="btn btn-info text-white"
                    type="button"
                    ng-click="addDiscipline()">
                <i class="fa fa-plus-square-o"></i>
                Добавить предмет
            </button>
        </div>
    </div>

    <div class="my-3 card col-md-10 bg-light mx-auto p-0" ng-if="viewLinkForm">
        <button class="btn btn-sm text-danger"
                type="button"
                ng-click="closeLinkForm()"
                title="Закрыть форму">
            <i class="fa fa-2x fa-times pull-right"></i>
        </button>
        <div class="font-weight-bold h4 text-center mt-4">
            Добавление предмета
        </div>
        <form class="my-5 simple-form" name="form.linkForm">
            <div class="col-md-8 mx-auto">
                <label for="labelAttestation">Аттестация</label>
                <select class="custom-select form-control"
                        name="attestation"
                        ng-model="attestation"
                        ng-options="item.id as item.name + ' (до ' + (item.deadline | date:'dd.MM.yyyy') + ')'
                                                            for item in attestations"
                        id="labelAttestation"
                        required>
                </select>
            </div>

            <div class="row col-md-8 mx-auto p-0 my-3 text-center">
                <div class="col-md-4 my-auto pr-0">
                    <strong>Выбрать предмет учебного плана</strong>
                </div>
                <div class="col-md-4">
                    <label for="labelGroupForDiscipline">группы</label>
                    <select class="custom-select form-control"
                            name="groupForDiscipline"
                            ng-change="getSemesterNumbers(groupForDiscipline);
                                       getDisciplinesByDep(groupForDiscipline, semesterNumber);"
                            ng-model="groupForDiscipline"
                            ng-options="item.id as item.number for item in groupsForDiscipline"
                            id="labelGroupForDiscipline"
                            required>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="labelSemesterNumber">
                        семестра
                    </label>
                    <select class="custom-select form-control"
                            name="semesterNumber"
                            ng-model="semesterNumber"
                            ng-class="{'border-success': curSemesterNumber == semesterNumber}"
                            ng-options="item as item + ((item == curSemesterNumber) ? ' (текущий)' : '') for item in semesterNumbers"
                            ng-change="getDisciplinesByDep(groupForDiscipline, semesterNumber)"
                            id="labelSemesterNumber"
                            required>
                    </select>
                </div>
            </div>
            <div class="col-md-8 mx-auto mt-3">
                <label for="labelFormOfWork">Форма работы</label>
                <select class="custom-select form-control"
                        name="form_of_work"
                        ng-model="form_of_work"
                        ng-options="item.id as item.name for item in forms_of_work"
                        id="labelFormOfWork"
                        required>
                </select>
            </div>
            <!--<div class="col-md-8 mx-auto">
                <label for="labelDiscipline">Предмет</label>
                <select class="custom-select form-control"
                        name="discipline"
                        ng-change="getTeachers(discipline)"
                        ng-model="discipline"
                        ng-options="item.id as item.department.shortName+': '+item.name for item in disciplines"
                        id="labelDiscipline"
                        required>
                </select>
            </div>-->
            <div class="col-md-8 mx-auto mt-3">
                <ui-select ng-model="discipline.selected"
                           ng-disabled="disciplines == null"
                           name="discipline"
                           on-select="getTeachers(discipline.selected)"
                           class="col-md-12 p-0"
                           theme="select2" title="Выберите предмет"
                           required>
                    <ui-select-match placeholder="Выберите предмет...">
                        {{$select.selected.department.shortName + ': ' + $select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices repeat="discipline in disciplines | propsFilter: {name: $select.search} | orderBy:'name'">
                        <div ng-bind-html="discipline.name | highlight: $select.search"></div>
                        <small>
                            Кафедра: {{discipline.department.shortName}}
                            Название: <span ng-bind-html="discipline.name | highlight: $select.search"></span>
                        </small>
                    </ui-select-choices>
                </ui-select>
            </div>
            <!--<div class="col-md-8 mx-auto mt-3">
                <label for="labelTeacher">Преподаватель</label>
                <select class="custom-select form-control"
                        ng-disabled="!discipline"
                        name="teacher"
                        ng-model="teacher"
                        ng-options="item.id as item.surname+' '+item.name+' '+item.patronymic for item in teachers"
                        id="labelTeacher"
                        required>
                </select>
            </div>-->
            <div class="col-md-8 mx-auto mt-3">
                <ui-select ng-model="teacher.selected"
                           ng-disabled="!discipline.selected || !teachers"
                           name="teacher"
                           class="col-md-12 p-0"
                           theme="select2" title="Выберите преподавателя"
                           required>
                    <ui-select-match placeholder="Выберите преподавателя...">
                        {{$select.selected.surname + ' ' + $select.selected.name + ' ' + $select.selected.patronymic}}
                    </ui-select-match>
                    <ui-select-choices repeat="teacher in teachers | propsFilter: {surname: $select.search, name: $select.search} | orderBy:'surname'">
                        <div ng-bind-html="teacher.surname | highlight: $select.search"></div>
                        <small>
                            Имя: {{teacher.name}}
                            Отчество: <span ng-bind-html="teacher.patronymic | highlight: $select.search"></span>
                        </small>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="col-md-8 mx-auto mt-4 text-right">
                <button class="btn btn-info px-3 text-white"
                        title="Связать {{isSubgroup? 'подгруппу': 'группу'}} с преподавателем"
                        ng-click="addCertificationAttestation()">
                    <i class="fa fa-plus-square-o pr-1"></i>
                    Добавить <!--При удалении: Внимание, преподаватель уже внёс изменения. Вы уверены, что хотите удалить?-->
                </button>
            </div>
        </form>
    </div>

</div>