<div ng-show="ur == 'SECRETARY'">

    <div class="py-4 mt-4 card col-md-10 mx-auto border-info">

        <div class="font-weight-bold h4 text-center mt-2">Назначение преподавателей</div>
        <div class="font-weight-bold h5 text-center mt-2">Аттестационные ведомости</div>

        <form class="simple-form" name="linkAttestationForm">
            <div class="col-md-4 mx-auto my-3">
                <ui-select ng-model="attestation.selected"
                           ng-change="SelectedAttestation()"
                           ng-disabled="!attestations.length"
                           name="attestation"
                           class="col-md-12 p-0"
                           theme="select2" title="Выберите аттестацию"
                           required>
                    <ui-select-match placeholder="Выберите аттестацию...">
                        {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices repeat="attestation in attestations | propsFilter: {name: $select.search} | orderBy:'name'">
                        <div ng-bind-html="attestation.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <div class="text-center my-2 font-weight-bold">
                    <div ng-show="attestation.selected">Дедлайн: {{attestation.deadline | date: 'dd.MM.yyyy'}}</div>
                    <div class="text-danger" ng-show="!attestation.selected">Необходимо выбрать аттестацию!</div>
                </div>
            </div>
            <hr>

            <div class="col-md-4 mx-auto my-3">
                <ui-select ng-model="group.selected"
                           ng-change="attestationSelectedGroup()"
                           ng-disabled="!groupList.length"
                           name="group"
                           class="col-md-12 p-0"
                           theme="select2" title="Выберите группу"
                           required>
                    <ui-select-match placeholder="Выберите группу...">
                        {{$select.selected.number}}
                    </ui-select-match>
                    <ui-select-choices repeat="gr in groupList | propsFilter: {number: $select.search} | orderBy:'number'">
                        <div ng-bind-html="gr.number | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </form>

        <div class="ng-hide font-weight-bold text-center m-2 p-2 alert-warning" ng-show="!groups.length">
            Необходимо выбрать группу
        </div>

        <div class="ng-hide m-2 p-2" ng-show="groups.length">
            <table class="table table-hover table-striped table-sm table-responsive-xs">
                <thead>
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center">Номер группы</th>
                    <th class="text-center">Текущий семестр</th>
                    <th class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="group in groups | orderBy:'curSemester'">
                    <td class="text-center border-info">
                        <i class="text-warning fa fa-2x fa-exclamation px-2" ng-if="group.blank" data-toggle="tooltip" data-placement="top"
                           title="Внимание! Остались незаполненные поля">
                        </i>
                    </td>
                    <td class="text-center border-info">{{group.number}}</td>
                    <td class="text-center border-info h5">
                        <div class="badge badge-secondary">{{group.curSemester}}</div>
                    </td>
                    <td class="text-center border-info">
                        <button class="btn btn-md btn-info text-white"
                                type="button"
                                ng-disabled="!attestation.selected"
                                ui-sref="linkAttestationId({id: group.id, attestationId: attestation.selected.id})"
                                title="Назначить преподавателей">
                            <i class="fa fa-share-square-o"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>