<div ng-show="ur == 'SECRETARY'">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a ui-sref="linkAttestation">Список групп</a></li>
        <li class="breadcrumb-item active" aria-current="page">Назначение преподавателей. Аттестационные ведомости</li>
    </ol>

    <div class="p-0 my-4 card col-md-10 mx-auto border-info">

        <div class="font-weight-bold h3 text-center mt-4">
            Группа: <div class="badge bg-aqua-gradient">{{group.number}}</div>
            <br>
            Текущий семестр: <div class="badge bg-aqua-gradient">{{group.curSemester}}</div>
            <br>
            <div class="h4 mt-3">
                Название аттестации: <div class="badge bg-aqua-gradient">{{attestation.name}}</div>
                Дедлайн: <div class="badge bg-aqua-gradient">{{attestation.deadline | date: 'dd.MM.yyyy'}}</div>
            </div>
        </div>

        <div class="ng-hide font-weight-bold text-center m-2 p-2 alert-warning" ng-show="!syllabusContentList.length">
            В данном семестре у группы нет дисциплин с Вашей кафедры
        </div>

        <div class="ng-hide my-3" ng-show="syllabusContentList.length">
            <form class="simple-form" name="syllabusContentList">
                <table class="table table-hover table-striped table-responsive-xl table-container">
                    <thead>
                    <tr>
                        <th class="text-center"></th>
                        <th class="text-center">Название дисциплины</th>
                        <th class="text-center">Аттестация</th>
<!--                        <th class="text-center">Допуск</th>-->
<!--                        <th class="text-center">Экзамен/Зачёт/Диф.зачёт</th>-->
<!--                        <th class="text-center">КП/КР</th>-->
                        <th class="text-center"></th>
                    </tr>
                    </thead>
                    <tbody data-ng-repeat="syllabusContent in syllabusContentList track by $index" ng-init="$parentIndex=$index"  data-ng-switch on="showStudents[$index]">
                    <!-- Содержание учебного плана -->
                    <tr class="bg-white bg-aqua-gradient">
                        <td class="text-center border-info"></td>
                        <td class="text-center border-info">
                            <button class="btn btn-link" data-ng-click="toggleShowStudents($index)">
                                {{syllabusContent.discipline.name}}
                            </button>
                        </td>
                        <!--Аттестация-->
                        <td class="text-center border-info">
                            <ui-select ng-model="syllabusContent.attestationTeacher"
                                       ng-disabled="!teachers"
                                       ng-change="selectedAttestationTeacher($index)"
                                       name="attestationTeacher"
                                       class="col-md-10 pt-1"
                                       theme="select2" title="Назначить преподавателя всей группе">
                                <ui-select-match placeholder="Назначить преподавателя всей группе...">
                                    {{$select.selected.surname + ' ' + $select.selected.name + ' ' + $select.selected.patronymic}}
                                </ui-select-match>
                                <ui-select-choices repeat="teacher in teachers | propsFilter: {surname: $select.search, name: $select.search} | orderBy:'surname'">
                                    <div ng-bind-html="teacher.surname | highlight: $select.search"></div>
                                    <small>
                                        {{teacher.name}}
                                        <span ng-bind-html="teacher.patronymic | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                        <!--Допуск-->
                        <!--<td class="text-center border-info">
                            <div ng-hide="syllabusContent.attestationForm.id==1||syllabusContent.attestationForm.id==5||syllabusContent.attestationForm.id==6">-</div>
                            <ui-select ng-model="syllabusContent.admittanceTeacher"
                                       ng-show="syllabusContent.attestationForm.id==1||syllabusContent.attestationForm.id==5||syllabusContent.attestationForm.id==6"
                                       ng-disabled="!teachers"
                                       ng-change="selectedAdmittanceTeacher($index)"
                                       name="admittanceTeacher"
                                       class="pt-1"
                                       theme="select2" title="Выберите преподавателя">
                                <ui-select-match placeholder="Выберите преп...">
                                    {{$select.selected.surname + ' ' + $select.selected.initials}}
                                </ui-select-match>
                                <ui-select-choices repeat="teacher in teachers | propsFilter: {surname: $select.search, name: $select.search} | orderBy:'surname'">
                                    <div ng-bind-html="teacher.surname | highlight: $select.search"></div>
                                    <small>
                                        {{teacher.name}}
                                        <span ng-bind-html="teacher.patronymic | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </td>-->
                        <!-- Экзамен/Зачёт/Диф.зачёт -->
                        <!--<td class="text-center border-info">
                            <div ng-show="syllabusContent.attestationForm.id==8">-</div>
                            <ui-select ng-model="syllabusContent.examTeacher"
                                       ng-hide="syllabusContent.attestationForm.id==8"
                                       ng-disabled="!teachers"
                                       ng-change="selectedExamTeacher($index)"
                                       name="examTeacher"
                                       class="pt-1"
                                       theme="select2" title="Выберите преподавателя">
                                <ui-select-match placeholder="Выберите преп...">
                                    {{$select.selected.surname + ' ' + $select.selected.initials}}
                                </ui-select-match>
                                <ui-select-choices repeat="teacher in teachers | propsFilter: {surname: $select.search, name: $select.search} | orderBy:'surname'">
                                    <div ng-bind-html="teacher.surname | highlight: $select.search"></div>
                                    <small>
                                        {{teacher.name}}
                                        <span ng-bind-html="teacher.patronymic | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </td>-->
                        <!-- КП/КР -->
                        <!--<td class="text-center border-info">
                            <div ng-show="syllabusContent.attestationForm.id==1||syllabusContent.attestationForm.id==2||syllabusContent.attestationForm.id==3||syllabusContent.attestationForm.id==8">-</div>
                            <ui-select ng-model="syllabusContent.krOrKpTeacher"
                                       ng-hide="syllabusContent.attestationForm.id==1||syllabusContent.attestationForm.id==2||syllabusContent.attestationForm.id==3||syllabusContent.attestationForm.id==8"
                                       ng-disabled="!teachers"
                                       ng-change="selectedKrOrKpTeacher($index)"
                                       name="krOrKpTeacher"
                                       class="pt-1"
                                       theme="select2" title="Выберите преподавателя">
                                <ui-select-match placeholder="Выберите преп...">
                                    {{$select.selected.surname + ' ' + $select.selected.initials}}
                                </ui-select-match>
                                <ui-select-choices repeat="teacher in teachers | propsFilter: {surname: $select.search, name: $select.search} | orderBy:'surname'">
                                    <div ng-bind-html="teacher.surname | highlight: $select.search"></div>
                                    <small>
                                        {{teacher.name}}
                                        <span ng-bind-html="teacher.patronymic | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </td>-->
                        <!-- Сохранить -->
                        <td class="text-center">
                            <button class="btn btn-md text-white"
                                    ng-class="{'btn-warning': changes[$index],
                                      'btn-info': !changes[$index]}"
                                    type="button"
                                    data-ng-click="saveAttestationTeachers($index)"
                                    title="Сохранить изменения по данной дисциплине">
                                <i class="fa fa-save"></i>
                            </button>
                        </td>
                    </tr>
                    <!-- Студенты -->
                    <tr data-ng-switch-when="true" ng-repeat="connectTeacherStudentDTO in syllabusContent.connectTeacherStudentDTOList | orderBy:'studentFullName' track by $index">
                        <td class="text-center border-info"></td>
                        <td class="text-center border-info">
                            {{connectTeacherStudentDTO.studentFullName}}
                        </td>
                        <!--Аттестация-->
                        <td class="text-center border-info">
                            <ui-select ng-model="connectTeacherStudentDTO.attestationTeacher"
                                       ng-disabled="!teachers"
                                       ng-change="selectedAttestationTeacherWithDTO($parentIndex)"
                                       name="connectTeacherStudentDTO.attestationTeacher"
                                       class="pt-1"
                                       theme="select2" title="Выберите преподавателя"
                                       required>
                                <ui-select-match placeholder="Выберите преп...">
                                    {{$select.selected.surname + ' ' + $select.selected.initials}}
                                </ui-select-match>
                                <ui-select-choices repeat="teacher in teachers | propsFilter: {surname: $select.search, name: $select.search} | orderBy:'surname'">
                                    <div ng-bind-html="teacher.surname | highlight: $select.search"></div>
                                    <small>
                                        {{teacher.name}}
                                        <span ng-bind-html="teacher.patronymic | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                        <!--Допуск-->
                        <!--<td class="text-center border-info">
                            <div ng-hide="syllabusContent.attestationForm.id==1||syllabusContent.attestationForm.id==5||syllabusContent.attestationForm.id==6">-</div>
                            <ui-select ng-model="connectTeacherStudentDTO.admittanceTeacher"
                                       ng-show="syllabusContent.attestationForm.id==1||syllabusContent.attestationForm.id==5||syllabusContent.attestationForm.id==6"
                                       ng-disabled="!teachers"
                                       ng-change="selectedAdmittanceTeacherWithDTO($parentIndex)"
                                       name="connectTeacherStudentDTO.admittanceTeacher"
                                       class="pt-1"
                                       theme="select2" title="Выберите преподавателя"
                                       required>
                                <ui-select-match placeholder="Выберите преп...">
                                    {{$select.selected.surname + ' ' + $select.selected.initials}}
                                </ui-select-match>
                                <ui-select-choices repeat="teacher in teachers | propsFilter: {surname: $select.search, name: $select.search} | orderBy:'surname'">
                                    <div ng-bind-html="teacher.surname | highlight: $select.search"></div>
                                    <small>
                                        {{teacher.name}}
                                        <span ng-bind-html="teacher.patronymic | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </td>-->
                        <!-- Экзамен/Зачёт/Диф.зачёт -->
                        <!--<td class="text-center border-info">
                            <div ng-show="syllabusContent.attestationForm.id==8">-</div>
                            <ui-select ng-model="connectTeacherStudentDTO.examTeacher"
                                       ng-hide="syllabusContent.attestationForm.id==8"
                                       ng-disabled="!teachers"
                                       ng-change="selectedExamTeacherWithDTO($parentIndex)"
                                       name="connectTeacherStudentDTO.examTeacher"
                                       class="pt-1"
                                       theme="select2" title="Выберите преподавателя"
                                       required>
                                <ui-select-match placeholder="Выберите преп...">
                                    {{$select.selected.surname + ' ' + $select.selected.initials}}
                                </ui-select-match>
                                <ui-select-choices repeat="teacher in teachers | propsFilter: {surname: $select.search, name: $select.search} | orderBy:'surname'">
                                    <div ng-bind-html="teacher.surname | highlight: $select.search"></div>
                                    <small>
                                        {{teacher.name}}
                                        <span ng-bind-html="teacher.patronymic | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </td>-->
                        <!-- КП/КР -->
                        <!--<td class="text-center border-info">
                            <div ng-show="syllabusContent.attestationForm.id==1||syllabusContent.attestationForm.id==2
                            ||syllabusContent.attestationForm.id==3||syllabusContent.attestationForm.id==8">-</div>
                            <ui-select ng-model="connectTeacherStudentDTO.krOrKpTeacher"
                                       ng-hide="syllabusContent.attestationForm.id==1||syllabusContent.attestationForm.id==2||
                                       syllabusContent.attestationForm.id==3||syllabusContent.attestationForm.id==8"
                                       ng-disabled="!teachers"
                                       ng-change="selectedKrOrKpTeacherWithDTO($parentIndex)"
                                       name="connectTeacherStudentDTO.krOrKpTeacher"
                                       class="pt-1"
                                       theme="select2" title="Выберите преподавателя"
                                       required>
                                <ui-select-match placeholder="Выберите преп...">
                                    {{$select.selected.surname + ' ' + $select.selected.initials}}
                                </ui-select-match>
                                <ui-select-choices repeat="teacher in teachers | propsFilter: {surname: $select.search, name: $select.search} | orderBy:'surname'">
                                    <div ng-bind-html="teacher.surname | highlight: $select.search"></div>
                                    <small>
                                        {{teacher.name}}
                                        <span ng-bind-html="teacher.patronymic | highlight: $select.search"></span>
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                        </td>-->
                        <td class="text-center border-info"></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>

    </div>

</div>