<div ng-show="ur == 'SECRETARY'">

    <div class="my-5 card col-md-10 mx-auto border-info p-0">

        <div class="font-weight-bold h4 text-center mt-4">Назначение преподавателей</div>
        <div class="font-weight-bold h5 text-center mt-2">Список действующих аттестаций</div>

        <hr>

        <table class="ng-hide table table-hover table-responsive-sm m-0 p-0" ng-show="attestations.length">
            <thead>
            <tr>
                <th class="text-center border-white"></th>
                <th class="text-center border-white">Название</th>
                <th class="text-center border-white">Факультет</th>
                <th class="text-center border-white">Дата окончания аттестации</th>
                <th class="text-center border-white">Дистанционная аттестация</th>
                <th class="border-white"></th>
            </tr>
            </thead>
            <tbody class="bg-aqua-gradient">
            <tr ng-repeat="attestation in attestations | orderBy:'id'" class="border-top">
                <td class="text-center border-info">
                    <i class="text-warning fa fa-2x fa-exclamation px-2" ng-if="!attestation.finished" data-toggle="tooltip" data-placement="top"
                       title="Внимание! Не все аттестационные ведомости распределены по преподавателям">
                    </i>
                </td>
                <td class="text-center border-info">{{attestation.name}}</td>
                <td class="text-center border-info">{{attestation.faculty.shortName}} ({{attestation.faculty.fullName}})</td>
                <td class="text-center border-info">
                    {{attestation.deadline | date: 'dd.MM.yyyy'}}
                </td>
                <td class="text-center border-info">
                    <input type="checkbox"
                           class="form-control form-control-sm"
                           name="distant"
                           ng-model="attestation.distant"
                           disabled>
                </td>
                <td class="text-center border-info py-2">
                    <a class="btn btn-info text-white"
                       type="button"
                       ui-sref="linkAttestation({attestationId: attestation.id})"
                       title="Перейти к списку групп">
                        <i class="fa fa-share-square"></i>
                        Перейти
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="ng-hide" ng-show="!attestations.length">
            <div class="font-weight-bold text-center my-3 py-2 alert-warning">
                На данный момент отсутствуют действующие аттестации
            </div>
        </div>

    </div>

</div>