<!--<div ng-controller="PrivateAccountController">
    <div class="my-5 card bg-light col-md-5 mx-auto">
        <div class="font-weight-bold h4 text-center my-3">
            Личный кабинет
        </div>

        <div ng-if="success" class="bg-success text-white text-center pb-1">
            Изменения успешно сохранены!
        </div>

        <form class="simple-form" name="editUser">
            <div class="form-group">
                <label for="labelSurname">Фамилия</label>
                <input type="text"
                       class="form-control"
                       ng-class="{'border-danger': editUser.surname.$dirty && editUser.surname.$invalid && !saveEditForm ||
                       editUser.surname.$invalid && saveEditForm}"
                       name="surname"
                       ng-model="client.surname"
                       id="labelSurname"
                       placeholder="введите фамилию"
                       required>
            </div>
            <div class="form-group">
                <label for="labelName">Имя</label>
                <input type="text"
                       class="form-control"
                       ng-class="{'border-danger': editUser.name.$dirty && editUser.name.$invalid && !saveEditForm ||
                       editUser.name.$invalid && saveEditForm}"
                       name="name"
                       ng-model="client.name"
                       id="labelName"
                       placeholder="введите имя"
                       required>
            </div>
            <div class="form-group">
                <label for="labelPhone">Номер телефона</label>
                <input type="tel"
                       class="form-control"
                       ng-class="{'border-danger': editUser.phone.$dirty && editUser.phone.$invalid && !saveEditForm ||
                       editUser.phone.$invalid && saveEditForm}"
                       name="phone"
                       ng-model="client.phone"
                       id="labelPhone"
                       placeholder="введите номер телефона"
                       required>
            </div>
            <div class="form-group ng-hide" ng-show="ur == 'USER'">
                <label for="labelEmail">Почта</label>
                <input type="email"
                       class="form-control"
                       ng-class="{'border-danger': editUser.email.$dirty && editUser.email.$invalid && !saveEditForm ||
                       editUser.email.$invalid && saveEditForm}"
                       name="email"
                       ng-model="client.email"
                       id="labelEmail"
                       placeholder="введите почту"
                       email required>
            </div>
            <div class="form-group">
                <label for="labelLogin">Логин</label>
                <input type="text"
                       class="form-control"
                       ng-class="{'border-danger': editUser.login.$dirty && editUser.login.$invalid && !saveEditForm ||
                       editUser.login.$invalid && saveEditForm}"
                       name="login"
                       ng-model="user.username"
                       placeholder="введите логин"
                       id="labelLogin"
                       required>
            </div>
            <div class="form-group">
                <label for="labelPassword_1">Пароль</label>
                <input type="password"
                       class="form-control"
                       ng-class="{'border-danger': user.password_1 != user.password_2}"
                       name="password_1"
                       ng-model="user.password_1"
                       placeholder="изменить пароль"
                       id="labelPassword_1">
            </div>
            <div class="form-group">
                <label for="labelPassword_2">Повторите пароль</label>
                <input type="password"
                       class="form-control"
                       ng-class="{'border-danger': user.password_1 != user.password_2}"
                       name="password_2"
                       ng-model="user.password_2"
                       placeholder="введите повторно пароль"
                       id="labelPassword_2">
            </div>
            <div class="form-group text-right">
                <a class="btn text-info" href="/home">
                    В главное меню
                </a>
                <a class="btn btn-info px-4 text-white"
                   type="button"
                   data-toggle="modal" data-target="#successModal"
                   ng-click="updateClient()">
                    Сохранить изменения
                </a>
            </div>
        </form>
    </div>
</div>-->
