<div ng-show="ur == 'TEACHER'">

    <div class="my-5 pb-3 card col-md-10 mx-auto border-info p-0">
        <form class="simple-form" name="sessionDTOForm">

            <div class="font-weight-bold h4 text-center my-4">
                Список ведомостей
            </div>
            <div class="col-lg-3 col-sm-3 mx-auto mb-4">
                <ui-select ng-model="group.selected"
                           ng-change="selectedSessionDTOGroup()"
                           ng-disabled="!groupList.length"
                           name="group"
                           class="col-lg-12 p-0"
                           theme="select2" title="Выбор группы"
                           required>
                    <ui-select-match placeholder="Выбор группы...">
                        {{$select.selected.groupNumber}}
                    </ui-select-match>
                    <ui-select-choices repeat="gr in groupList | propsFilter: {groupNumber: $select.search} | orderBy:'groupNumber'">
                        <div ng-bind-html="gr.groupNumber | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>

            <div ng-if="groups.length">
                <table class="table table-hover table-striped table-sm table-responsive-sm">
                    <thead>
                    <tr>
                        <th class="text-center"></th>
                        <th class="text-center">Номер группы</th>
                        <th class="text-center">Дисциплина</th>
                        <th class="text-center">Форма аттестации</th>
                        <th class="text-center">Крайний срок внесения изменений
                            <i class="fa fa-info-circle text-info" data-toggle="tooltip" data-placement="top"
                               title="До этой даты (не включая) имеется возможность вносить изменения в ведомости">
                            </i>
                        </th>
                        <th class="text-center">Доп. ведомость</th>
                        <th class="text-center"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="group in groups | orderBy:'groupNumber' track by $index">
                        <td class="text-center border-info">
                            <i class="text-warning fa fa-2x fa-exclamation px-2" ng-if="!group.finished" data-toggle="tooltip" data-placement="top"
                               title="Внимание! В ведомости остались незаполненные поля">
                            </i>
                        </td>
                        <td class="text-center border-info">{{group.groupNumber}}</td>
                        <td class="text-center border-info">{{group.disciplineName}}</td>
                        <td class="text-center border-info">{{group.splitAttestationFormName}}</td>
                        <td class="text-center border-info" ng-if="!group.isAdditional">{{group.deadlineDiscipline | date: 'dd.MM.yyyy'}}</td>
                        <td class="text-center border-info" ng-if="group.isAdditional">-</td>
                        <td class="text-center border-info">
                            <input type="checkbox"
                                   class="form-control form-control-sm"
                                   ng-model="group.isAdditional"
                                   disabled>
                        </td>
                        <td class="text-center border-info">
                            <button class="btn btn-md btn-info text-white"
                                    type="button"
                                    ui-sref="contentSession({isHead: false, id: group.sessionSheetId})"
                                    title="Редактировать ведомость группы">
                                <i class="fa fa-share-square-o"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="ng-hide font-weight-bold text-center p-2 alert-warning" ng-show="!groups.length">
                <!--На данный момент группы, в которых Вы преподаёте, отсутствуют-->
                <!--На данный момент ведомости, назначенные Вам, отсутствуют-->
                <!--На данный момент у Вас нет ведомостей этого факультета-->
                На данный момент отсутствуют сессионные ведомости <!--текущей сессии-->
            </div>


            <div class="bg-aqua-gradient" ng-if="groupsForHead.length">
                <hr>
                <div class="font-weight-bold h4 text-center my-4">
                    Все ведомости кафедры
                </div>
                <div class="col-lg-3 col-sm-3 mx-auto mb-4">
                    <ui-select ng-model="groupForHead.selected"
                               ng-change="selectedSessionDTOGroupForHead()"
                               ng-disabled="!groupForHeadList.length"
                               name="groupForHead"
                               class="col-lg-12 p-0"
                               theme="select2" title="Выбор группы"
                               required>
                        <ui-select-match placeholder="Выбор группы...">
                            {{$select.selected.groupNumber}}
                        </ui-select-match>
                        <ui-select-choices repeat="gr in groupForHeadList | propsFilter: {groupNumber: $select.search} | orderBy:'groupNumber'">
                            <div ng-bind-html="gr.groupNumber | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div ng-if="groupsForHead.length">
                    <table class="table table-hover table-striped table-sm table-responsive-sm">
                        <thead>
                        <tr>
                            <th class="text-center"></th>
                            <th class="text-center">Номер группы</th>
                            <th class="text-center">Дисциплина</th>
                            <th class="text-center">Форма аттестации</th>
                            <th class="text-center">Крайний срок внесения изменений
                                <i class="fa fa-info-circle text-info" data-toggle="tooltip" data-placement="top"
                                   title="До этой даты (не включая) имеется возможность вносить изменения в ведомости">
                                </i>
                            </th>
                            <th class="text-center">Доп. ведомость</th>
                            <th class="text-center"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="groupForHead in groupsForHead | orderBy:'groupNumber' track by $index">
                            <td class="text-center border-info">
                                <i class="text-warning fa fa-2x fa-exclamation px-2" ng-if="!groupForHead.finished" data-toggle="tooltip" data-placement="top"
                                   title="Внимание! В ведомости остались незаполненные поля">
                                </i>
                            </td>
                            <td class="text-center border-info">{{groupForHead.groupNumber}}</td>
                            <td class="text-center border-info">{{groupForHead.disciplineName}}</td>
                            <td class="text-center border-info">{{groupForHead.splitAttestationFormName}}</td>
                            <td class="text-center border-info" ng-if="!groupForHead.isAdditional">{{groupForHead.deadlineDiscipline | date: 'dd.MM.yyyy'}}</td>
                            <td class="text-center border-info" ng-if="groupForHead.isAdditional">-</td>
                            <td class="text-center border-info">
                                <input type="checkbox"
                                       class="form-control form-control-sm"
                                       ng-model="groupForHead.isAdditional"
                                       disabled>
                            </td>
                            <td class="text-center border-info">
                                <button class="btn btn-md btn-info text-white"
                                        type="button"
                                        ui-sref="contentSession({isHead: true, id: groupForHead.sessionSheetId})"
                                        title="Редактировать ведомость группы">
                                    <i class="fa fa-share-square-o"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </form>
    </div>

</div>