<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Личный кабинет преподавателей</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container mr-0">
            <a class="navbar-brand">
                <br><br>
            </a>
        </div>
    </nav>

    <div style="min-height: calc(100vh - 209px) !important;">

        <div class="px-5 my-5 mx-auto card bg-light border-dark col-sm-8 col-md-6 col-lg-4">
            <div class="mt-5 text-center h3">
                <b>Авторизация</b>
            </div>
            <hr>

            <div th:if="${param.error}" class="bg-danger text-white text-center pb-1 mb-3">
                Вы ввели неверный логин и/или пароль. Попробуйте снова!
            </div>

            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="labelName">Логин</label>
                    <input type="text"
                           class="form-control border-dark"
                           ng-model="auth.login"
                           name="username"
                           id="labelName"
                           placeholder="введите логин"
                           required>
                </div>
                <div class="form-group">
                    <label for="labelPassword">Пароль</label>
                    <input type="password"
                           class="form-control border-dark"
                           ng-model="auth.password"
                           name="password"
                           id="labelPassword"
                           placeholder="введите пароль"
                           autocomplete="on"
                           required>
                </div>

                <div class="form-group my-5">
                    <input class="btn btn-outline-info btn-block" type="submit" ng-click="transition()" value="Войти"/>
                </div>
            </form>
        </div>
    </div>

    <footer class="py-3 bg-dark">
        <div class="pt-3 text-white text-center text-small">
            <!--            <p class="mb-1">Личный кабинет преподавателя</p>-->
            <p class="mb-1">БГТУ «ВОЕНМЕХ» им. Д.Ф. Устинова</p>
        </div>
    </footer>
</body>
</html>
