<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kursovik</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
    <!--<script src="https://use.fontawesome.com/7328c42f01.js"></script>-->
    <script th:src="@{Controllers/PrivateAccount.js}"></script>
    <!--<script type="text/javascript" src="../static/dist/resources/app.js"></script>-->

    <link th:href="@{/main.css}" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body ng-app="PrivateAccount" ng-controller="PrivateAccountController">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container mr-0">
            <a class="navbar-brand" href="#">
                <img src="Images/caduceus-2730780_1280.png" width="85" alt="">
                <br>Афродита
            </a>

            <div class="navbar" id="navbarResponsive">
                <ul class="navbar-nav mr-5">
                    <li class="nav-item">
                        <a class="nav-link" href="home">Главное меню</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="privateAccount">Личный кабинет</a>
                    </li>
                    <li class="nav-item ng-hide" ng-show="ur == 'MANAGER'">
                        <a class="nav-link" href="orders">Заказы</a>
                    </li>
                    <li class="nav-item ng-hide" ng-show="ur == 'USER'">
                        <a class="nav-link" href="search">Поиск</a>
                    </li>
                    <li class="nav-item ng-hide" ng-show="ur == 'MANAGER'">
                        <a class="nav-link" href="search">Товары</a>
                    </li>
                    <li class="nav-item ng-hide" ng-show="ur == 'MANAGER'">
                        <a class="nav-link" href="medicine">Добавить позицию</a>
                    </li>
                    <li class="nav-item ng-hide" ng-show="ur == 'USER'" >
                        <a class="nav-link" href="basket">
                            Корзина
                            <span class="badge badge-light">{{medicines.length}}</span>
                        </a>
                    </li>
                    <li class="nav-item ng-hide" ng-show="ur == 'USER'">
                        <a class="nav-link" href="help">Справка</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">
                            <i class="fa fa-sign-out"></i>
                            Выйти
                        </a>
                    </li>
                </ul>
                <!--<form class="form-inline mx-3">
                    <input class="form-control mr-sm-1" type="search" placeholder="введите название лекарства" aria-label="Search">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Найти</button>
                </form>-->
            </div>
        </div>
    </nav>

    <div>
        <div class="my-5 card bg-light col-md-5 mx-auto">
            <div class="font-weight-bold h4 text-center my-3">
                Личный кабинет
            </div>

            <div ng-if="success" class="bg-success text-white text-center pb-1">
                Изменения успешно сохранены!
            </div>

            <form class="simple-form" name="editUser">
                <div class="form-group">
                    <label for="labelSurname">Фамилия</label>
                    <input type="text"
                           class="form-control"
                           ng-class="{'border-danger': editUser.surname.$dirty && editUser.surname.$invalid && !saveEditForm ||
                           editUser.surname.$invalid && saveEditForm}"
                           name="surname"
                           ng-model="client.surname"
                           id="labelSurname"
                           placeholder="введите фамилию"
                           required>
                </div>
                <div class="form-group">
                    <label for="labelName">Имя</label>
                    <input type="text"
                           class="form-control"
                           ng-class="{'border-danger': editUser.name.$dirty && editUser.name.$invalid && !saveEditForm ||
                           editUser.name.$invalid && saveEditForm}"
                           name="name"
                           ng-model="client.name"
                           id="labelName"
                           placeholder="введите имя"
                           required>
                </div>
                <div class="form-group">
                    <label for="labelPhone">Номер телефона</label>
                    <input type="tel"
                           class="form-control"
                           ng-class="{'border-danger': editUser.phone.$dirty && editUser.phone.$invalid && !saveEditForm ||
                           editUser.phone.$invalid && saveEditForm}"
                           name="phone"
                           ng-model="client.phone"
                           id="labelPhone"
                           placeholder="введите номер телефона"
                           required>
                </div>
                <div class="form-group ng-hide" ng-show="ur == 'USER'">
                    <label for="labelEmail">Почта</label>
                    <input type="email"
                           class="form-control"
                           ng-class="{'border-danger': editUser.email.$dirty && editUser.email.$invalid && !saveEditForm ||
                           editUser.email.$invalid && saveEditForm}"
                           name="email"
                           ng-model="client.email"
                           id="labelEmail"
                           placeholder="введите почту"
                           email required>
                </div>
                <div class="form-group">
                    <label for="labelLogin">Логин</label>
                    <input type="text"
                           class="form-control"
                           ng-class="{'border-danger': editUser.login.$dirty && editUser.login.$invalid && !saveEditForm ||
                           editUser.login.$invalid && saveEditForm}"
                           name="login"
                           ng-model="user.username"
                           placeholder="введите логин"
                           id="labelLogin"
                           required>
                </div>
                <div class="form-group">
                    <label for="labelPassword_1">Пароль</label>
                    <input type="password"
                           class="form-control"
                           ng-class="{'border-danger': user.password_1 != user.password_2}"
                           name="password_1"
                           ng-model="user.password_1"
                           placeholder="изменить пароль"
                           id="labelPassword_1">
                </div>
                <div class="form-group">
                    <label for="labelPassword_2">Повторите пароль</label>
                    <input type="password"
                           class="form-control"
                           ng-class="{'border-danger': user.password_1 != user.password_2}"
                           name="password_2"
                           ng-model="user.password_2"
                           placeholder="введите повторно пароль"
                           id="labelPassword_2">
                </div>
                <div class="form-group text-right">
                    <a class="btn text-info" href="/home">
                        В главное меню
                    </a>
                    <a class="btn btn-info px-4 text-white"
                       type="button"
                       data-toggle="modal" data-target="#successModal"
                       ng-click="updateClient()">
                        Сохранить изменения
                    </a>
                </div>
            </form>
        </div>
    </div>


    <!--<div class="modal fade" id="successModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="successModalLabel">Добавление товара в корзину</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body alert alert-success hidden m-0 text-center" id="success-alert">
                    Введённые данные успешно сохранены!
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="/home" ng-click="">Перейти в главное меню</a>
                    <button class="btn btn-primary" data-dismiss="modal" type="button">Ок</button>
                </div>
            </div>
        </div>
    </div>-->

    <footer class="py-3 bg-dark">
        <div class="my-2 pt-3 text-white text-center text-small">
            <p class="mb-1">© ИП Назарова МА 2020</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="home">Главное меню</a></li>
                <li class="list-inline-item"><a href="privateAccount">Личный кабинет</a></li>
                <li class="list-inline-item ng-hide" ng-show="ur == 'MANAGER'"><a href="orders">Заказы</a></li>
                <li class="list-inline-item ng-hide" ng-show="ur == 'USER'"><a href="search">Поиск</a></li>
                <li class="list-inline-item ng-hide" ng-show="ur == 'MANAGER'"><a href="search">Товары</a></li>
                <li class="list-inline-item ng-hide" ng-show="ur == 'MANAGER'"><a href="medicine">Добавить позицию</a></li>
                <li class="list-inline-item ng-hide" ng-show="ur == 'USER'"><a href="basket">Корзина</a></li>
                <li class="list-inline-item ng-hide" ng-show="ur == 'USER'"><a href="help">Справка</a></li>
                <li class="list-inline-item"><a href="logout">Выйти</a></li>
            </ul>
        </div>
    </footer>

            <!--<div class="panel panel-default col-md-5">
                    <form>
                        <div class="form-group">
                            <label for="labelSurname">Фамилия</label>
                            <input type="text"
                                   class="form-control"
                                   name="surname"
                                   ng-model="clientForm.surname"
                                   id="labelSurname" required>
                        </div>
                        <div class="form-group">
                            <label for="labelName">Имя</label>
                            <input type="text"
                                   class="form-control"
                                   name="name"
                                   ng-model="clientForm.name"
                                   id="labelName" required>
                        </div>
                        <div class="form-group">
                            <label for="labelPhone">Номер телефона</label>
                            <input type="tel" class="form-control" name="phone" id="labelPhone" required>
                        </div>
                        <div class="form-group">
                            <label for="labelMail">Почта *</label>
                            <input type="email" class="form-control" name="mail" id="labelMail" email>
                        </div>
                        <div class="form-group">
                            <label for="labelLogin">Логин</label>
                            <input type="text" class="form-control" name="login" id="labelLogin" required>
                        </div>
                        <div class="form-group">
                            <label for="labelPassword_1">Пароль</label>
                            <input type="password" class="form-control" name="password_1" id="labelPassword_1" required>
                        </div>
                        <div class="form-group">
                            <label for="labelPassword_2">Повторите пароль</label>
                            <input type="password" class="form-control" name="password_2" id="labelPassword_2" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-info" href="/">
                                Назад</button>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-info"
                                    ng-click="editEmployee(employee)"
                                    disabled="name.invalid ||
                email.invalid || phone.invalid">
                                Зарегистрироваться</button>
                        </div>
                    </form>
            </div>


            <h3>
                CRUD: Spring Boot + Rest + AngularJS
            </h3>
            <form ng-submit="submitEmployee()">
                <table border="0">
                    <tr>
                        <td>Emp Id</td>
                        <td>{{employeeForm.empId}}</td>
                    </tr>
                    <tr>
                        <td>Emp No</td>
                        <td><input type="text" ng-model="employeeForm.empNo" /></td>
                    </tr>
                    <tr>
                        <td>Emp Name</td>
                        <td><input type="text" ng-model="employeeForm.empName"  /></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Submit" class="blue-button" />
                        </td>
                    </tr>
                </table>
            </form>
            <br/>
            <a class="create-button" ng-click="createEmployee()">Create Employee</a>
            <table border="1">
                <tr>
                    <th>Emp Id</th>
                    <th>Emp No</th>
                    <th>Emp Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                &lt;!&ndash; $scope.employees &ndash;&gt;
                <tr ng-repeat="employee in employees">
                    <td> {{ employee.empId }}</td>
                    <td> {{ employee.empNo }}</td>
                    <td >{{ employee.empName }}</td>
                    <td>
                        <a ng-click="editEmployee(employee)" class="edit-button">Edit</a>
                    </td>
                    <td>
                        <a ng-click="deleteEmployee(employee)" class="delete-button">Delete</a>
                    </td>
                </tr>
            </table>
        </div>-->

</body>
</html>